// nextflow.config

// Enable Docker integration
docker.enabled = true

// -----------------------------
//  Define Global Parameters
// -----------------------------

params {
    // Maximum resource allocations (can be overridden per process)
    max_memory = '64 GB'
    max_cpus   = 16
    max_time   = '48h'

    // Input and output configurations
    reads          = "$PWD/data/reads/*{1,2}.fastq.gz"        // Path to raw FASTQ files
    outdir         = "$PWD/results"                           // Output directory
    genome         = "$PWD/data/refGenome/mm10.fa"            // Path to mouse genome FASTA file
    gtf            = "$PWD/data/refGenome/mm10.gtf"           // Path to GTF file (optional for ChIP-seq)
    blacklist_url  = "https://raw.githubusercontent.com/Boyle-Lab/Blacklist/master/lists/mm10-blacklist.v2.bed.gz" // URL to mouse blacklist file
    blacklist_path = "$PWD/resources/blacklist/mm10-blacklist.v2.bed" // Local path to blacklist file
    adapters       = "$PWD/resources/adapters.fa"            // Path to adapter sequences
    genome_size    = "mm"                                    // Genome size for MACS2 (mm for mouse)
    bowtie2_threads = 4                                      // Number of threads for Bowtie2
    bowtie2_index   = "$PWD/results/bowtie2_index"         // Bowtie2 index directory
    skip_alignment  = false                                  // Option to skip alignment (if needed)
    test_mode       = false                                  // Enable test mode
    read_type       = "paired"                             // 'paired' or 'single'
    params.keep_dup = 'auto'                               // MACS2 keep duplicates flag
    params.organism = "mm10"                               // Default organism for HOMER genome

}

// -----------------------------
//  Define Process Resource Allocations and Docker Containers
// -----------------------------

process {
    withName:DownloadBlacklist {
        cpus    = 2
        memory  = '4 GB'
        time    = '1h'
        container = 'quay.io/biocontainers/wget:1.21.4'
    }
    withName:FastQC {
        cpus    = 2
        memory  = '4 GB'
        time    = '2h'
        container = 'quay.io/biocontainers/fastqc:0.12.1--hdfd78af_0'
    }
    withName:TrimGalore {
        cpus    = 2
        memory  = '8 GB'
        time    = '4h'
        container = 'quay.io/biocontainers/trim-galore:0.6.6--hdfd78af_1'
    }
    withName:Bowtie2Index {
        cpus    = 4
        memory  = '16 GB'
        time    = '12h'
        container = 'quay.io/biocontainers/bowtie2:2.5.4--he96a11b_5'
    }
    withName:Bowtie2Align {
        cpus    = 8
        memory  = '32 GB'
        time    = '24h'
        container = 'quay.io/biocontainers/mulled-v2-258922dd32ede57ed7115a4d4c28f2094cb21eec:4913fcfa10f2f2aff7ece136756af6fe46e6be0d-0' 
    }

     withName:SortIndexBam {
        cpus    = 4
        memory  = '12 GB'
        time    = '12h'
        container = 'quay.io/biocontainers/samtools:1.21--h96c455f_1'
    }
    withName:PostAlignChIPseq {
        cpus    = 4
        memory  = '16 GB'
        time    = '12h'
        container = 'quay.io/biocontainers/picard:3.3.0--hdfd78af_0'
    }

    withName:AlignmentQCAndIndex {
        cpus    = 2
        memory  = '8 GB'
        time    = '4h'
        container = 'quay.io/biocontainers/samtools:1.21--h96c455f_1'
    }

    withName:PeakCalling {
        cpus    = 4
        memory  = '16 GB'
        time    = '12h'
        container = 'quay.io/biocontainers/macs2:2.1.1.20160309--py27r3.3.2_0'
    }
    withName:FilterBlacklistedPeaks {
        cpus    = 2
        memory  = '8 GB'
        time    = '4h'
        container = 'quay.io/biocontainers/bedtools:2.31.1--h13024bc_3'
    }
    withName:AnnotatePeaks {
        cpus    = 2
        memory  = '8 GB'
        time    = '4h'
        container = 'quay.io/biocontainers/homer:4.11--pl5262h4ac6f70_9' 
    }
    withName:MultiQC {
        cpus    = 2
        memory  = '4 GB'
        time    = '1h'
        container = 'quay.io/biocontainers/multiqc:1.25.2--pyhdfd78af_0'
    }

    withName:BamCoverage {
        cpus    = 4
        memory  = '8 GB'
        time    = '4h'
        container = 'quay.io/biocontainers/deeptools:3.5.5--pyhdfd78af_0'
    }
    withName:MultiBigwigSummary {
        cpus    = 4
        memory  = '8 GB'
        time    = '4h'
        container = 'quay.io/biocontainers/deeptools:3.5.5--pyhdfd78af_0'
    }
    withName:PlotCorrelation {
        cpus    = 2
        memory  = '4 GB'
        time    = '2h'
        container = 'quay.io/biocontainers/deeptools:3.5.5--pyhdfd78af_0'
    }
    withName:MotifAnalysis {
        cpus    = 4
        memory  = '16 GB'
        time    = '12h'
        container = 'quay.io/biocontainers/homer:4.11--pl5262h4ac6f70_9'
    }

    withName:TestProcess {
        cpus    = 1
        memory  = '2 GB'
        time    = '30m'
        container = 'quay.io/biocontainers/bioconductor-alpine:1.26.0--r43hdfd78af_0' // Example container
    }
}

// -----------------------------
// 4. Define Profiles
// -----------------------------

profiles {
    standard {
        // No additional configuration needed if containers are specified per process
    }

    test {
        params {
            reads          = "$PWD/test_data/reads/*{1,2}.fastq.gz"
            outdir         = "$PWD/test_results"
            genome         = "$PWD/test_data/refGenome/test_mm10.fa"
            gtf            = "$PWD/test_data/refGenome/test_mm10.gtf"
            blacklist_url  = "https://raw.githubusercontent.com/Boyle-Lab/Blacklist/master/lists/mm10-blacklist.v2.bed.gz"
            blacklist_path = "$PWD/resources/blacklist/mm10-blacklist.v2.bed"
            adapters       = "$PWD/resources/adapters.fa"
            genome_size    = "mm"
            bowtie2_threads = 2
            bowtie2_index   = "$PWD/test_results/bowtie2_index"
            test_mode       = true
        }

        process {
            withName:DownloadBlacklist {
                cpus    = 1
                memory  = '2 GB'
                time    = '15m'
            }
            withName:FastQC {
                cpus    = 1
                memory  = '2 GB'
                time    = '30m'
            }
            withName:TrimGalore {
                cpus    = 1
                memory  = '4 GB'
                time    = '2h'
            }
            withName:Bowtie2Index {
                cpus    = 1
                memory  = '8 GB'
                time    = '30m'
            }
            withName:Bowtie2Align {
                cpus    = 2
                memory  = '8 GB'
                time    = '1h'
            }

             withName:SortIndexBam {
                cpus    = 2
                memory  = '8 GB'
                time    = '1h'
            }
            
            withName:PostAlignChIPseq {
                cpus    = 2
                memory  = '4 GB'
                time    = '1h'
            }

            withName:AlignmentQC {
                cpus    = 1
                memory  = '8 GB'
                time    = '1h'
            }

            withName:PeakCalling {
                cpus    = 2
                memory  = '8 GB'
                time    = '2h'
            }
            withName:FilterBlacklistedPeaks {
                cpus    = 1
                memory  = '4 GB'
                time    = '1h'
            }
            withName:AnnotatePeaks {
                cpus    = 1
                memory  = '4 GB'
                time    = '1h'
            }
            withName:MultiQC {
                cpus    = 1
                memory  = '2 GB'
                time    = '30m'
            }
            withName:TestProcess {
                cpus    = 1
                memory  = '1 GB'
                time    = '10m'
            }
        }
    }
}
